//MainHeart
.Heart1,.Heart2,.Heart3,.Heart4{
  z-index: -1;
  position: absolute;
}
.Heart1{
  width: 244px;
  height: 244px;
  transform: rotate(-14deg);
  left: -105px;
  top: 70px;
}
.Heart2{
  width: 244px;
  height: 244px;
  transform: rotate(16deg);
  right: 0;
  top: -35px;
}
.Heart3{
  width: 134px;
  height: 134px;
  transform: rotate(16deg);
  right: 58%;
  bottom: 25px;
}
.Heart4{
  width: 77px;
  height: 77px;
  transform: rotate(-15deg);
  right: 70%;
  bottom: 0;
}

//aboutHeart
.Heart5,.Heart6,.Heart7{
  z-index: 0;
  position: absolute;
}
.Heart5{
  width: 162px;
  height: 162px;
  transform: rotate(-14deg);
  left: -35px;
  top: 25px;
}
.Heart6{
  width: 189px;
  height: 189px;
  transform: rotate(-14deg);
  right: 50px;
  top: -200px;
}
.Heart7{
  width: 118px;
  height: 118px;
  transform: rotate(16deg);
  right: 25px;
  top: 35px;
}

//researchHeart
.Heart8,.Heart9,.Heart10,.Heart11{
  z-index: -1;
  position: absolute;
}
.Heart8{
  width: 53px;
  height: 53px;
  transform: rotate(-15deg);
  right: 68%;
  top: -175px;
}
.Heart9{
    width: 121px;
    height: 121px;
    transform: rotate(16deg);
    right: 55%;
    top: -145px;
}
.Heart10{
  width: 178px;
  height: 178px;
  transform: rotate(-14deg);
  right: 41%;
  top: 115px;
}
.Heart11{
  width: 94px;
  height: 94px;
  transform: rotate(14deg);
  right: 35px;
  top: -115px;
}