:root {
  --color-textBlue: #010726;
  --color-textViolet: #483975;
  --color-textWheat: #FFFFFF;

  --color--accentPurple: #FF86C9;
  --color--accentYellow: #FBDA73;

  --color--BgSky: #96C6E9;
  --color--BgWheat: #FFFFFF;
  
}

@font-face {
  font-family: 'RotondaCRegular'; 
	src: url(./../font/rotondac.otf);  
  font-style: normal; 
  font-weight: normal;
   }
   
  @font-face{
  font-family: 'RotondaCBold'; 
  src: url(./../font/rotondac-bold.otf); 
  font-style: normal; 
  font-weight: normal; 
  }
 
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1{
  font-family: 'RotondaCBold'; 
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.2;
}
h2{
  font-family: 'RotondaCBold'; 
  font-size: 26px;
  text-transform: uppercase;
}
h3{
  font-family: 'RotondaCBold'; 
  font-size: 22px;
}
h4{
  font-family: 'RotondaCBold'; 
  font-size: 20px;
}
h5{
  font-family: 'RotondaCBold'; 
  font-size: 16px;
}
p{
  font-family: 'RotondaCRegular'; 
  font-size: 16px;

}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}

body{
  background-color: var(--color--BgSky);
}

/* Container */
.container {
  width: 100%;
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}

/* text */
.Text{
  span{
    font-weight: 800;
  }
}

/* header */
.header{
  height: 116px;
  width: 100%;
  .header__inner{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .header__logo{
      img{
        height: 116px;
        width: 292px;
      }
    }
    .nav-toggle{
      display: none;
    }
    .nav {
      .nav__link{
         color: var(--color-textWheat);
        text-decoration: none;
        font-size: 14px;
        margin-right: 25px;
        font-family: 'RotondaCRegular'; 
        transition: color .15s linear;
      }
      :hover{
        color: var(--color--accentPurple);
      
      }
     :last-child{
        margin-right: 0;
      }
    }
  }   
}
// /header


/* MainPage */
.MainPage{
  width: 100%;
  margin-top: 25px;
  .MainPage__inner{
    display: flex;
    position: relative;
    .Main__text{
      margin-top: 120px;
      z-index: 10;
      width: 520px; 
      img{
        margin-top: 35px;
      }
    }
    .Main__img{ 
      position: relative;
      left: 75px;
      top: 50px;
      img{
        width: 706px;
        height: 490px;
        z-index: 1;
      }
    }
  }
}
// /MainPage

/* about */
.about{
  background-image: url(./../img/Bg/Bg1.png);
  width: 100%;
  height: 1100px;
  position: relative;
  top: -135px;
  .about__inner{
    position: relative;
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    top: 400px;
    .about__img{
      position: relative;
      right: -45px; 
      top: -75px;
      img{
        width: 351px;
        height: 461px;
      }
    }
    .about__text{
      background-image: url(./../img/Bg/perplFigur.png);
      width: 737px;
      height: 441px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-textWheat);
      position: relative;
      right: 45px;
      z-index: 2;
      .Text{
        width: 520px; 
      }
    }
    .img__grace{
        width: 177px;
        height: 294px;
        position: absolute;
        right: 180px;
        top: -55px;
    }
  }
  .exp{
    display: flex;
    height: 77px;
    align-items: center;
    position: relative;
    bottom:  200px;
    img{
      width: 24px;
      height: 77px;
      margin-right: 18px;

    }
    .exp__text{
      width: 470px;
      color: var(--color-textViolet);
      font-weight: 600;
    }
  }
}// /about


/* research */
.research{
  margin-bottom: 100px;
  .research__inner{
    display: flex;
    justify-content: space-between;
    position: relative;
    .research__text{
      width: 510px;
      padding: 5px;
      position: relative;
      top: -25px;
    }
    .research__block2{
      position: relative;
      top: -200px;
      .Text{
        width: 625px;
        margin: 70px 0px 30px 0px;
      }
      .research__button{
        display: flex;
        width: 100%;
        justify-content: end;
        button{
          height: 60px;
          width: 218px;
          border-radius: 40px;
          background-color: var(--color--accentPurple);
          border: var(--color--accentPurple);
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-textWheat);
          transition:  all .15s ease-in;
          z-index: 2;
          img{
            margin-right: 12px;
            transition:  all .15s ease-in;
          }
          p{
            transition:  all .15s ease-in;
          }
        }
        :hover{
          background-color: var(--color--accentYellow);
          border: var(--color--accentYellow);
        }
      }
    }
  }
} // research


/* age */
.age{
  background-image: url(./../img/Bg/Bg3.png);
  width: 100%;
  height: 694px;
  position: relative;
  top: -375px;
  .grase2{
    position: absolute;
    top: 190px;
    right: 15%;
    height: 278px;
    width: 272px;
    z-index: -1;
  }
  .block1{
    .img__people{
      width: 182px;
      height: 192px;
      position: relative;
      top: -85px;
    }
    .Text{
      width: 513px;
      color: var(--color-textBlue);
      h2{
        color: var(--color-textViolet);
        width: 290px;
        line-height: 1.2;
      }
    }
  }
  .block2{
    height: 600px;
    position: absolute;
    top: 685px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:100px;
    background-image: url(./../img/Bg/bg4.png);
    width: 100%;
    height: 462px;
    z-index: 1;
    .animals__line{
      position: relative;
      top: -165px;
    }
    .block__animals{
      display: flex;
      position: absolute;
      top: 250px;
    }
    .sect_animals{
      position: relative;
      top: -500px;
      display: block;
      margin-right: 97px;
      width: 125px;
      img{
        width: 125px;
        height: 145px;
      }
      p{
        color: var(--color-textViolet);
        font-size:20px;
        font-weight: 600;
        width: 100%;
      }
      .desc{
        font-size: 16px;
        width: 180px;
        position: relative;
        left: -5px;
        top: -15px;
        font-weight: 800;
      }
      .butt_age{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 38px;   
        button{
          background: none;
          border: none;
          display: flex;
          height: 190px;
          position: relative;
          left: -10px;
          padding: 0;
          width: 180px;
          top: -155px;
          p{
            position: relative;
            top: 145px;
            color: var(--color--accentPurple);
            letter-spacing: 1px;
            margin-right: 5px;
          }
        .img{
          background-image: url("./../img/icon/next.svg");
          width: 31px;
          height: 26px;
          position: relative;
          top: 160px;
          }
        }
        :hover{
          .img{
            background-image: url("./../img/icon/nextYelow.svg");
          
          }
          p{
            color: var(--color--accentYellow);
          }
        }
      } 
    }
    :last-child{
      margin-right: 0;
    }
    .animals2, .animals3, .animals4, .animals5, .animals6{
      position: relative
    }
    .animals2{
      top: -450px;
    }
    .animals3{
      top: -350px;
    }
    .animals4{
      top: -265px;
    }
    .animals5{
      top: -180px;
    }
    .animals6{
      top: -100px;
    }
  }// /block2
} // /age


/* footer */
footer{
  background-color: var(--color--accentYellow);
  width: 100%;
  height: 450px;
  margin-top: -265px;
  z-index: 0;
  position: relative;
  img{
    position: relative;
    top: 100px;
  }
  .footer__inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    align-items: center;
    max-width: 1230px;
    .buy{
      color: var(--color-textViolet);
      button{
        margin-top: -10px;
        height: 47px;
        width: 237px;
        border-radius: 40px;
        background-color: var(--color--accentPurple);
        border: var(--color--accentPurple);
        color: var(--color-textWheat);
        display: flex;
        align-items: center;
        justify-content: center;   
        z-index: 10; 
        transition: opacity .15 linear;
        font-weight: 800;
        letter-spacing: 1px;
      }
      button:hover{   
          opacity: .5;
        }
      .buy__text{
        width: 237px;
        display: flex;
        justify-content: center;
        font-weight: 800;
      }
    }
    .tm{
      position: relative;
      bottom: -43px;
      color: var(--color-textBlue);
      font-size: 12px;
      font-family: 'RotondaCRegular'; 
    }
    .contact{
      position: relative;
      bottom: -50px;
      color: var(--color-textBlue);
      font-size: 12px;
      font-family: 'RotondaCRegular'; 
      display: flex;
      .footer__link{
      position: relative;
      top: -115px;
      margin-left: 5px;
        a{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        transition: opacity .15s linear;
      }
      :hover{
        opacity: .5;
      }
      }
    }
  }
}// /footer