:root {
  --color-textBlue: #010726;
  --color-textViolet: #483975;
  --color-textWheat: #FFFFFF;
  --color-textPhoneBlue: #0061B2;
  --color--accentPurple: #FF86C9;
  --color--accentYellow: #FBDA73;
  --color--BgSky: #96C6E9;
  --color--BgWheat: #FFFFFF;
}

@font-face {
  font-family: "RotondaCRegular";
  src: url(./../font/rotondac.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RotondaCBold";
  src: url(./../font/rotondac-bold.otf);
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: "RotondaCBold";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.2;
}

h2 {
  font-family: "RotondaCBold";
  font-size: 26px;
  text-transform: uppercase;
}

h3 {
  font-family: "RotondaCBold";
  font-size: 22px;
}

h4 {
  font-family: "RotondaCBold";
  font-size: 20px;
}

h5 {
  font-family: "RotondaCBold";
  font-size: 16px;
}

p {
  font-family: "RotondaCRegular";
  font-size: 16px;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}

body {
  background-color: var(--color--BgSky);
}

/* Container */
.container {
  width: 100%;
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}

/* text */
.Text span {
  font-weight: 800;
}

@media screen and (max-width: 380px) {
  .age {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .research {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .about {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .MainPage {
    display: none;
  }
}

/* header */
.header {
  height: 116px;
  width: 100%;
}
.header .header__inner {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header .header__inner .header__logo img {
  height: 116px;
  width: 292px;
}
@media screen and (max-width: 375px) {
  .header .header__inner .header__logo img {
    height: 54px;
    width: 135px;
  }
}
@media screen and (max-width: 375px) {
  .header .header__inner button {
    display: block;
    border: none;
    background-color: var(--color--accentYellow);
  }
}
.header .header__inner .nav__toggle {
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
}
@media screen and (max-width: 375px) {
  .header .header__inner .nav__toggle {
    display: block;
  }
}
.header .header__inner .nav__toggle.active .nav__toggle__item {
  position: relative;
  left: 1px;
}
.header .header__inner .nav__toggle.active :nth-child(2) {
  display: none;
}
.header .header__inner .nav__toggle.active :nth-child(1) {
  transform: rotate(45deg) translate3d(0px, 2px, 0);
}
.header .header__inner .nav__toggle.active :nth-child(3) {
  transform: rotate(-45deg) translate3d(0px, -2px, 0);
}
.header .header__inner .nav__toggle .nav__toggle__item {
  width: 21px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--color--BgWheat);
  margin-bottom: 5px;
  margin: 0 auto;
  transition: transform 0.15s linear;
}
.header .header__inner .nav__toggle :nth-child(2) {
  margin: 4px auto 4px auto;
}
@media screen and (max-width: 375px) {
  .header .header__inner .nav {
    display: none;
  }
}
.header .header__inner .nav.active {
  display: block;
  position: absolute;
  top: 0px;
  height: 325px;
  width: 100%;
  left: 0;
  background-color: var(--color-textWheat);
  padding-top: 45px;
  border-radius: 0px 0px 30px 30px;
}
.header .header__inner .nav.active .nav__link {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-textPhoneBlue);
  margin-top: 25px;
  font-size: 14px;
  justify-content: center;
}
.header .header__inner .nav.active :hover {
  color: var(--color--accentPurple);
}
.header .header__inner .nav .nav__link {
  color: var(--color-textWheat);
  text-decoration: none;
  font-size: 14px;
  margin-right: 25px;
  font-family: "RotondaCRegular";
  transition: color 0.15s linear;
}
.header .header__inner .nav :hover {
  color: var(--color--accentPurple);
}
.header .header__inner .nav :last-child {
  margin-right: 0;
}

/* MainPage */
.MainPage {
  width: 100%;
  margin-top: 25px;
}
.MainPage .MainPage__inner {
  display: flex;
  position: relative;
}
.MainPage .MainPage__inner .Main__text {
  margin-top: 120px;
  z-index: 10;
  width: 520px;
}
.MainPage .MainPage__inner .Main__text img {
  margin-top: 35px;
}
.MainPage .MainPage__inner .Main__img {
  position: relative;
  left: 75px;
  top: 50px;
}
.MainPage .MainPage__inner .Main__img img {
  width: 706px;
  height: 490px;
  z-index: 1;
}

/* about */
.about {
  background-image: url(./../img/Bg/Bg1.png);
  width: 100%;
  height: 1100px;
  position: relative;
  top: -135px;
}
.about .about__inner {
  position: relative;
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
  top: 400px;
}
.about .about__inner .about__img {
  position: relative;
  right: -45px;
  top: -75px;
}
.about .about__inner .about__img img {
  width: 351px;
  height: 461px;
}
.about .about__inner .about__text {
  background-image: url(./../img/Bg/perplFigur.png);
  width: 737px;
  height: 441px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-textWheat);
  position: relative;
  right: 45px;
  z-index: 2;
}
.about .about__inner .about__text .Text {
  width: 520px;
}
.about .about__inner .img__grace {
  width: 177px;
  height: 294px;
  position: absolute;
  right: 180px;
  top: -55px;
}
.about .exp {
  display: flex;
  height: 77px;
  align-items: center;
  position: relative;
  bottom: 200px;
}
.about .exp img {
  width: 24px;
  height: 77px;
  margin-right: 18px;
}
.about .exp .exp__text {
  width: 470px;
  color: var(--color-textViolet);
  font-weight: 600;
}

/* research */
.research {
  margin-bottom: 100px;
}
.research .research__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.research .research__inner .research__text {
  width: 510px;
  padding: 5px;
  position: relative;
  top: -25px;
}
.research .research__inner .research__block2 {
  position: relative;
  top: -200px;
}
.research .research__inner .research__block2 .Text {
  width: 625px;
  margin: 70px 0px 30px 0px;
}
.research .research__inner .research__block2 .research__button {
  display: flex;
  width: 100%;
  justify-content: end;
}
.research .research__inner .research__block2 .research__button button {
  height: 60px;
  width: 218px;
  border-radius: 40px;
  background-color: var(--color--accentPurple);
  border: var(--color--accentPurple);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-textWheat);
  transition: all 0.15s ease-in;
  z-index: 2;
}
.research .research__inner .research__block2 .research__button button img {
  margin-right: 12px;
  transition: all 0.15s ease-in;
}
.research .research__inner .research__block2 .research__button button p {
  transition: all 0.15s ease-in;
}
.research .research__inner .research__block2 .research__button :hover {
  background-color: var(--color--accentYellow);
  border: var(--color--accentYellow);
}

/* age */
.age {
  background-image: url(./../img/Bg/Bg3.png);
  width: 100%;
  height: 694px;
  position: relative;
  top: -375px;
}
.age .grase2 {
  position: absolute;
  top: 190px;
  right: 15%;
  height: 278px;
  width: 272px;
  z-index: -1;
}
.age .block1 .img__people {
  width: 182px;
  height: 192px;
  position: relative;
  top: -85px;
}
.age .block1 .Text {
  width: 513px;
  color: var(--color-textBlue);
}
.age .block1 .Text h2 {
  color: var(--color-textViolet);
  width: 290px;
  line-height: 1.2;
}
.age .block2 {
  height: 600px;
  position: absolute;
  top: 685px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  background-image: url(./../img/Bg/bg4.png);
  width: 100%;
  height: 462px;
  z-index: 1;
}
.age .block2 .animals__line {
  position: relative;
  top: -165px;
}
.age .block2 .block__animals {
  display: flex;
  position: absolute;
  top: 250px;
}
.age .block2 .sect_animals {
  position: relative;
  top: -500px;
  display: block;
  margin-right: 97px;
  width: 125px;
}
.age .block2 .sect_animals img {
  width: 125px;
  height: 145px;
}
.age .block2 .sect_animals p {
  color: var(--color-textViolet);
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}
.age .block2 .sect_animals .desc {
  font-size: 16px;
  width: 180px;
  position: relative;
  left: -5px;
  top: -15px;
  font-weight: 800;
}
.age .block2 .sect_animals .butt_age {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 38px;
}
.age .block2 .sect_animals .butt_age button {
  background: none;
  border: none;
  display: flex;
  height: 190px;
  position: relative;
  left: -10px;
  padding: 0;
  width: 180px;
  top: -155px;
}
.age .block2 .sect_animals .butt_age button p {
  position: relative;
  top: 145px;
  color: var(--color--accentPurple);
  letter-spacing: 1px;
  margin-right: 5px;
}
.age .block2 .sect_animals .butt_age button .img {
  background-image: url("./../img/icon/next.svg");
  width: 31px;
  height: 26px;
  position: relative;
  top: 160px;
}
.age .block2 .sect_animals .butt_age :hover .img {
  background-image: url("./../img/icon/nextYelow.svg");
}
.age .block2 .sect_animals .butt_age :hover p {
  color: var(--color--accentYellow);
}
.age .block2 :last-child {
  margin-right: 0;
}
.age .block2 .animals2, .age .block2 .animals3, .age .block2 .animals4, .age .block2 .animals5, .age .block2 .animals6 {
  position: relative;
}
.age .block2 .animals2 {
  top: -450px;
}
.age .block2 .animals3 {
  top: -350px;
}
.age .block2 .animals4 {
  top: -265px;
}
.age .block2 .animals5 {
  top: -180px;
}
.age .block2 .animals6 {
  top: -100px;
}

/* footer */
footer {
  background-color: var(--color--accentYellow);
  width: 100%;
  height: 450px;
  margin-top: -265px;
  z-index: 0;
  position: relative;
}
footer img {
  position: relative;
  top: 100px;
}
footer .footer__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 25px;
  align-items: center;
  max-width: 1230px;
}
footer .footer__inner .buy {
  color: var(--color-textViolet);
}
footer .footer__inner .buy button {
  margin-top: -10px;
  height: 47px;
  width: 237px;
  border-radius: 40px;
  background-color: var(--color--accentPurple);
  border: var(--color--accentPurple);
  color: var(--color-textWheat);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 0.15 linear;
  font-weight: 800;
  letter-spacing: 1px;
}
footer .footer__inner .buy button:hover {
  opacity: 0.5;
}
footer .footer__inner .buy .buy__text {
  width: 237px;
  display: flex;
  justify-content: center;
  font-weight: 800;
}
footer .footer__inner .tm {
  position: relative;
  bottom: -43px;
  color: var(--color-textBlue);
  font-size: 12px;
  font-family: "RotondaCRegular";
}
footer .footer__inner .contact {
  position: relative;
  bottom: -50px;
  color: var(--color-textBlue);
  font-size: 12px;
  font-family: "RotondaCRegular";
  display: flex;
}
footer .footer__inner .contact .footer__link {
  position: relative;
  top: -115px;
  margin-left: 5px;
}
footer .footer__inner .contact .footer__link a {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: opacity 0.15s linear;
}
footer .footer__inner .contact .footer__link :hover {
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
