:root {
  --color-textBlue: #010726;
  --color-textViolet: #483975;
  --color-textWheat: #FFFFFF;

  --color--accentPurple: #FF86C9;
  --color--accentYellow: #FBDA73;

  --color--BgSky: #96C6E9;
  --color--BgWheat: #FFFFFF;
  
}

@font-face {
  font-family: 'RotondaCRegular'; 
	src: url(./../font/rotondac.otf);  
  font-style: normal; 
  font-weight: normal;
   }
   
  @font-face{
  font-family: 'RotondaCBold'; 
  src: url(./../font/rotondac-bold.otf); 
  font-style: normal; 
  font-weight: normal; 
  }
 
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1{
  font-family: 'RotondaCBold'; 
  font-size: 30px;
}
h2{
  font-family: 'RotondaCBold'; 
  font-size: 26px;
}
h3{
  font-family: 'RotondaCBold'; 
  font-size: 22px;
}
h4{
  font-family: 'RotondaCBold'; 
  font-size: 20px;
}
h5{
  font-family: 'RotondaCBold'; 
  font-size: 16px;
}
p{
  font-family: 'RotondaCRegular'; 
  font-size: 16px;

}
.Text{
  span{
    font-weight: 800;
  }
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}


/* Container */
.container {
  width: 100%;
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}
body{
  background-color: var(--color--BgSky);
}

// header
.header{
  height: 116px;
  width: 100%;
  .header__inner{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .header__logo{
      img{
        height: 116px;
        width: 292px;
      }
    }
    .nav-toggle{
      display: none;
    }
    .nav {
      .nav__link{
         color: var(--color-textWheat);
        text-decoration: none;
        font-size: 14px;
        margin-right: 25px;
        font-family: 'RotondaCRegular'; 
        
      }
     :last-child{
        margin-right: 0;
      }
    }
  }   
}
// /header


// MainPage
.MainPage{
  width: 100%;
  margin-top: 25px;
  .MainPage__inner{
    display: flex;
    position: relative;
    .Main__text{
      margin-top: 120px;
      z-index: 10;
      width: 520px; 
    }
    .Main__img{ 
      position: relative;
      left: 75px;
      top: 50px;
      img{
        width: 706px;
        height: 490px;
        z-index: 1;
      }
    }
    .Heart1,.Heart2,.Heart3,.Heart4{
      z-index: -1;
      position: absolute;
    }
    .Heart1{
      width: 244px;
      height: 244px;
      
      transform: rotate(-14deg);
      left: -105px;
      top: 70px;
    }
    .Heart2{
      width: 244px;
      height: 244px;
  
      transform: rotate(16deg);
      right: 0;
      top: -35px;
    }
    .Heart3{
      width: 134px;
      height: 134px;

      transform: rotate(16deg);
      right: 58%;
      bottom: 25px;
    }
    .Heart4{
      width: 77px;
      height: 77px;
      transform: rotate(-15deg);
      right: 70%;
      bottom: 0;
    }
  }
}
// /MainPage


.about{
  background-image: url(./../img/Bg/Bg1.png);
  width: 100%;
  height: 1100px;
  position: relative;
  top: -135px;
  .about__inner{
    position: relative;
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    top: 400px;
    .about__img{
      position: relative;
      right: -45px; 
      top: -75px;
      img{
        width: 351px;
        height: 461px;
      }
     
    }
    .about__text{
      background-image: url(./../img/Bg/perplFigur.png);
      width: 737px;
      height: 441px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-textWheat);
      position: relative;
      right: 45px;
      z-index: 2;
      .Text{
        width: 520px; 
      }
      
    }
    .img__grace{
        width: 177px;
        height: 294px;
        position: absolute;
        right: 180px;
        top: -55px;
    }
  }
  .exp{
    display: flex;
    height: 77px;
    align-items: center;
    position: relative;
    bottom:  200px;
    img{
      width: 24px;
      height: 77px;
      margin-right: 18px;

    }
    .exp__text{
      width: 470px;
      color: var(--color-textViolet);
      font-weight: 600;
    }
  }
  .Heart5,.Heart6,.Heart7{
    z-index: 0;
    position: absolute;
  }
  .Heart5{
    width: 162px;
    height: 162px;
    transform: rotate(-14deg);
    left: -35px;
    top: 25px;
  }
  .Heart6{
    width: 189px;
    height: 189px;
    transform: rotate(-14deg);
    right: 50px;
    top: -200px;
  }
  .Heart7{
    width: 118px;
    height: 118px;
    transform: rotate(16deg);
    right: 25px;
    top: 35px;
  }
}// /About

.research{
  .reserch__text{
    .Text{
      width: 514px;
    }
  }
}