:root {
  //TextColor
  --color-textBlue: #010726;
  --color-textViolet: #483975;
  --color-textWheat: #FFFFFF;
  --color-textPhoneBlue: #0061B2;
  --color-textPhoneGray: #8D8D8B;
  //AccentColor
  --color--accentPurple: #FF86C9;
  --color--accentYellow: #FBDA73;
  //BgColor
  --color--BgSky: #96C6E9;
  --color--BgWheat: #FFFFFF;
}

@font-face {
  font-family: 'RotondaCRegular'; 
	src: url(./../font/rotondac.otf);  
  font-style: normal; 
  font-weight: normal;
   }  
@font-face{
font-family: 'RotondaCBold'; 
src: url(./../font/rotondac-bold.otf); 
font-style: normal; 
font-weight: normal; 
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #FFFFFF;
  background-color: var(--color--BgSky);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1{
  font-family: 'RotondaCBold'; 
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.2;
}
h2{
  font-family: 'RotondaCBold'; 
  font-size: 26px;
  text-transform: uppercase;
}
h3{
  font-family: 'RotondaCBold'; 
  font-size: 24px;
}
p{
  font-family: 'RotondaCRegular'; 
  font-size: 16px;
}
hr{
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}
.page{
  overflow: hidden;
}

/* Container */
.container {
  width: 100%;
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}

/* text */
.Text{
  span{
    font-weight: 800;
  }
  @media screen and (max-width: 321px) {        
    display: none;
   }
}

//изменение текста на мобильных устройствах
.TextPhone{
  display: none;
  width: 100%;
  @media screen and (max-width: 321px) {        
    display: block;
    line-height: 1.4;
   }
}



/* header -------------------------------------------------------- */
.header{
  height: 116px;
  width: 100%;
  @media screen and (max-width: 321px) {        
    height: 54px;
  }
  .header__inner{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .header__logo{
      img{
        height: 116px;
        width: 292px;
        @media screen and (max-width: 321px) {        
          height: 54px;
          width: 135px;
        }
      }
    }
    button{
      @media screen and (max-width: 320px) {        
        display: block;
        border: none;
        background-color: var(--color--accentYellow);
      }
    }
    .nav__toggle{
      display: none;
      width: 45px;
      height: 45px;
      border-radius: 20px;
      position: absolute;
      right: 15px;
      @media screen and (max-width: 320px) {        
        display: block;
      }
      &.active{
        .nav__toggle__item { 
        position: relative;
        left: 1px;
        }
        :nth-child(2){
          display: none;
        } 
        :nth-child(1){
          transform: rotate(45deg) translate3d(0px, 2px, 0);
        } 
        :nth-child(3){
          transform: rotate(-45deg) translate3d(0px, -2px, 0);
        } 
      }
      .nav__toggle__item {
        width: 21px;
        height: 3px;
        border-radius: 3px;
        background-color: var(--color--BgWheat);
        margin-bottom: 5px;
        margin: 0 auto;
        transition: transform .15s linear ;
      }
      :nth-child(2){
       margin: 4px auto 4px auto;
      } 
    }
    .nav {
      //скрытие nav при появлении бургер
      @media screen and (max-width: 320px) {        
        display: none;
      }
      &.active{ 
        display:block;
        position: absolute;
        top: 0px;
        height: 325px;
        width: 100%;
        left: 0;
        background-color: var(--color-textWheat);
        padding-top: 45px;
        border-radius: 0px 0px 30px 30px;
        .nav__link{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          color: var(--color-textPhoneBlue);
          margin-top: 25px;
          font-size: 14px;
          justify-content: center;
        }
        :hover{
          color: var(--color--accentPurple);
        } 
      }
      .nav__link{
        color: var(--color-textWheat);
        text-decoration: none;
        font-size: 14px;
        margin-right: 25px;
        font-family: 'RotondaCRegular'; 
        transition: color .15s linear;
        z-index: 10;
        position: relative;
      }
      :hover{
        color: var(--color--accentPurple);
      }
     :last-child{
        margin-right: 0;
      }
    }
  }   
}
// /header


/* MainPage --------------------------------------------------------*/
.MainPage{
  width: 100%;
  margin-top: 25px;
  .MainPage__inner{
    display: flex;
    position: relative;
    @media screen and (max-width: 321px) {        
      display: block;
      width: 100%;
    }
    .Main__text{
      margin-top: 120px;
      z-index: 2;
      width: 520px; 
      @media screen and (max-width: 321px) {        
        margin-top: 0px;
        width: 100%;
      }
      .TextPhone{
        line-height: 1.2;
      }
      img{
        margin-top: 35px;
        @media screen and (max-width: 321px) {        
          margin-top: 0px;
         }
      }
    }
    .Main__img{ 
      position: relative;
      left: 75px;
      top: 50px;
      img{
        width: 706px;
        height: 490px;
        z-index: 1;
        @media screen and (max-width: 321px) {        
          display: none;
        }
      }
    }
    .Main__imgPhone{
      position: relative;
      left: 25px;
      top: -35px;
      width: 260px;
      display: none;
      @media screen and (max-width: 321px) {        
        display: block;
       }
    }
  }
}
// /MainPage



/* about  --------------------------------------------------------*/
.about{
  background-image: url(./../img/Bg/Bg1.png);
  width: 100%;
  height: 1100px;
  position: relative;
  top: -135px;
  @media screen and (max-width: 321px) { 
    background-image: url(./../img/Bg/AboutPhone.png);     
    top: -150px;
    height: 1050px;
  }
  .about__inner{
    position: relative;
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    top: 400px;
    @media screen and (max-width: 321px) {        
      top: 375px
    }
    .about__img{
      position: relative;
      right: -45px; 
      top: -75px;
      @media screen and (max-width: 321px) {        
        top: -205px;
        left: -50px;
        height: 250px;
        z-index: 3;
      }
      img{
        width: 351px;
        height: 461px;
        @media screen and (max-width: 321px) {        
         width: 180px;
         height: 247px;
        }
      }
    }
    .about__text{
      background-image: url(./../img/Bg/perplFigur.png);
      width: 737px;
      height: 442px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-textWheat);
      position: relative;
      right: 45px;
      z-index: 2;
      @media screen and (max-width: 321px) { 
        left: -225px;
        position: absolute;
      }
      .Text{
        width: 520px; 
        @media screen and (max-width: 321px) { 
          display: none;
        }
      }
      .TextPhone{
        display: none;
        @media screen and (max-width: 321px) { 
          width: 280px;
          margin: 0;
          padding: 0;
          margin-top: 35px;
          display: block;
        }
      }
    }
    .img__grass{
      width: 177px;
      height: 294px;
      position: absolute;
      right: 180px;
      top: -55px;
      @media screen and (max-width: 321px) {        
        display: none;
      }
    }
  }
  .exp{
    display: flex;
    height: 77px;
    align-items: center;
    position: relative;
    bottom:  200px;
    @media screen and (max-width: 321px) {        
      width: 100%;
      background-color: var(--color--BgWheat);
      height: 200px;
      position: absolute;
      left: 0px;
      padding: 0 25px;
      bottom: 0px;
      padding-bottom: 25px;
    }
    img{
      width: 24px;
      height: 77px;
      margin-right: 18px;
    }
    .exp__text{
      width: 470px;
      color: var(--color-textViolet);
      font-weight: 800;
      @media screen and (max-width: 321px) {        
        width: 225px;
        color: var(--color-textPhoneGray);
      }
    }
  }
}// /about



/* research --------------------------------------------------------*/
.research{
  margin-bottom: 100px;
  @media screen and (max-width: 320px) {        
   position: relative;
   margin-bottom: 150px;
   top: -75px;
  }
  .research__inner{
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 320px) {        
      display: block;
    }
    .research__text{
      width: 510px;
      padding: 5px;
      position: relative;
      top: -25px;
      @media screen and (max-width: 320px) {        
        width: 100%;
      }
    }
   
    .research__block2{
      position: relative;
      top: -200px;
      @media screen and (max-width: 320px) {        
        display: block;
        top: 0;
      }
      .research__bgPk{
        @media screen and (max-width: 320px) {        
          display: none;
        }
      }
      .Text{
        width: 625px;
        margin: 70px 0px 30px 0px;
        @media screen and (max-width: 320px) {        
          display: none;
        }
      }
      .research__button{
        display: flex;
        width: 100%;
        justify-content: end;
        @media screen and (max-width: 320px) {        
          justify-content: start;
          position: relative;
          top: -25px;
        }
        button{
          height: 60px;
          width: 218px;
          border-radius: 40px;
          background-color: var(--color--accentPurple);
          border: var(--color--accentPurple);
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-textWheat);
          transition:  all .15s ease-in;
          z-index: 2;
          img{
            margin-right: 12px;
            transition:  all .15s ease-in;
          }
          p{
            transition:  all .15s ease-in;
          }
        }
        :hover{
          background-color: var(--color--accentYellow);
          border: var(--color--accentYellow);
        }
      }
    }
  }
} // research



/* age --------------------------------------------------------*/
.age{
  background-image: url(./../img/Bg/Bg3.png);
  width: 100%;
  height: 694px;
  position: relative;
  top: -375px;
  @media screen and (max-width: 321px) {        
    top: -150px;
    height: 1100px;
  }
  .grass2{
    position: absolute;
    top: 190px;
    right: 15%;
    height: 278px;
    width: 272px;
    z-index: -1;
  }
  .block1{
    .img__people{
      width: 182px;
      height: 192px;
      position: relative;
      top: -85px;
      @media screen and (max-width: 321px) {        
        display: none;
      }
    }
    .Text{
      width: 513px;
      color: var(--color-textBlue);
      position: relative;
      top: -50px; 
      line-height: 1.3;
      h2{
        color: var(--color-textViolet);
        width: 290px;
       
      }
    }
    .TextPhone{
      background-image: url(./../img/Bg/AgeHeadPhone.png);
      color: var(--color-textViolet);
      position: absolute;
      left: 0;
      top: -50px;
      width: 100%;
      padding: 50px 20px 0px 20px;
      p{
        color: var(--color-textBlue);
      }
    }
  }
  .block2{
    position: absolute;
    top: 685px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:100px;
    background-image: url(./../img/Bg/bg4.png);
    height: 462px;
    z-index: 1;
    @media screen and (max-width: 321px) {        
      padding-bottom: 0;
    }
    .linePk{
      display: block;
      @media screen and (max-width: 321px) {        
        display: none;
      }
      img{
        position: relative;
        top: -165px;
      }
    }
    .linePhone{
      display: none;
      position: relative;
      top: -200px;
      @media screen and (max-width: 321px) {        
        display: flex;
        justify-content: center;
        width: 100%;
        top: -200px;
        left: -15px;
        background-color: var(--color--BgWheat);
      }
    }
    .block__animals{
      display: flex;
      position: absolute;
      top: 250px;
      @media screen and (max-width: 321px) {        
        display: block;
        width: 100%;
        position: relative;
        top: -400px;
        left: -15px;
      }
      .animals2, .animals3, .animals4, .animals5, .animals6{
        position: relative;
        @media screen and (max-width: 321px) {         
          position: absolute;
        }
      }
      .animals1{
        @media screen and (max-width: 321px) {         
          left: -75px;
          top: -500px;
        }
      }
      .animals2{
        top: -465px;
        @media screen and (max-width: 321px) {         
          right: -80px;
          top: -440px;
        }
      }
      .animals3{
        top: -350px;
        @media screen and (max-width: 321px) {         
          left: -75px;
          top: -295px;
        }
      }
      .animals4{
        top: -265px;
        @media screen and (max-width: 321px) {         
          right: -75px;
          top: -210px;
        }
      }
      .animals5{
        top: -180px;
        @media screen and (max-width: 321px) {         
          left: -75px;
          top: -65px;
        }
      }
      .animals6{
        top: -100px;
        @media screen and (max-width: 321px) {         
          right: -75px;
          top: 15px;
        }
      }
    }
    .sect_animals{
      position: relative;
      top: -500px;
      display: block;
      margin-right: 97px;
      width: 125px;
      @media screen and (max-width: 321px) {        
      margin-right: 0;
      padding: 0 25px;
      }
      img{
        width: 125px;
        height: 145px;
        @media screen and (max-width: 321px) {        
          width: 80px;
          height: 90px;
          }
      }
      p{
        color: var(--color-textViolet);
        font-size:20px;
        font-weight: 600;
        width: 100%;
      }
      .desc{
        font-size: 16px;
        width: 180px;
        position: relative;
        left: -5px;
        top: -15px;
        font-weight: 800;
        @media screen and (max-width: 321px) {        
          width: 120px;
          line-height: 1.1;
        }
      }
      .butt_age{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 38px;   
        @media screen and (max-width: 321px) {        
          width: 130px;
        }
        button{
          background: none;
          border: none;
          display: flex;
          height: 190px;
          position: relative;
          left: -10px;
          padding: 0;
          width: 180px;
          top: -155px;
          @media screen and (max-width: 321px) {        
            width: 125px;
            left: -15px;
            height: 130px;
            top: -100px;
            }
          p{
            position: relative;
            top: 145px;
            color: var(--color--accentPurple);
            letter-spacing: 1px;
            margin-right: 5px;
            @media screen and (max-width: 321px) {         
              top: 90px;
            }
          }
        .img{
          background-image: url("./../img/icon/next.svg");
          width: 31px;
          height: 26px;
          position: relative;
          top: 160px;
          @media screen and (max-width: 321px) {         
            top: 105px;
            }
          }
        }
        :hover{
          .img{
            background-image: url("./../img/icon/nextYelow.svg");
          }
          p{
            color: var(--color--accentYellow);
          }
        }
      } 
    }
    :last-child{
      margin-right: 0;
    }
  }// /block2
} // /age



/* footer --------------------------------------------------------*/
footer{
  background-color: var(--color--accentYellow);
  width: 100%;
  height: 450px;
  margin-top: -265px;
  z-index: 0;
  position: relative;
  @media screen and (max-width: 321px) {         
    background-image: url('./../img/Bg/FooterPhone.png');
    background-color: var(--color--BgWheat);
    z-index: 10;
    height: 252px;
    margin-top: -300px;
    left: 0;
  }
  .footer__flex{
    @media screen and (max-width: 321px) {         
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .footer__flex__inner{
      width: 190px;
      text-align: center;
      .footer__subtitle{
        display: none;
        font-family: 'RotondaCRegular'; 
        position: relative;
        top: 65px;
        color: var(--color-textBlue);
        font-size: 12px;
        line-height: 2;
        @media screen and (max-width: 321px) {         
         display: block;
        }
      }
    }
  }
  img{
    position: relative;
    top: 100px;
    @media screen and (max-width: 321px) {         
      top: 35px;
      display: flex;
      justify-content: center;
      width: 180px;
      height: 110px;
    }
  }
  .footer__inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    align-items: center;
    max-width: 1230px;
    .buy{
      color: var(--color-textViolet);
      @media screen and (max-width: 321px) {         
       display: none;
      }
      button{
        margin-top: -10px;
        height: 47px;
        width: 237px;
        border-radius: 40px;
        background-color: var(--color--accentPurple);
        border: var(--color--accentPurple);
        color: var(--color-textWheat);
        display: flex;
        align-items: center;
        justify-content: center;   
        z-index: 10; 
        transition: opacity .15 linear;
        font-weight: 800;
        letter-spacing: 1px;
      }
      :hover{   
        opacity: .5;
      }
      .buy__text{
        width: 237px;
        display: flex;
        justify-content: center;
        font-weight: 800;
      }
    }
    .tm{
      position: relative;
      bottom: -43px;
      color: var(--color-textBlue);
      font-size: 12px;
      font-family: 'RotondaCRegular'; 
    }
    .contact{
      position: relative;
      bottom: -50px;
      color: var(--color-textBlue);
      font-size: 12px;
      font-family: 'RotondaCRegular'; 
      display: flex;
      .footer__link{
        position: relative;
        top: -115px;
        margin-left: 5px;
        @media screen and (max-width: 321px){         
          display: none;
        }
        a{
          width: 30px;
          height: 30px;
          margin-left: 10px;
          transition: opacity .15s linear;
        }
        :hover{
          opacity: .5;
        }
      }
    }
  }
}// /footer